body {
    background-color: rgb(202, 211, 240);
    color: rgb(0, 0, 0);
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
}

li{
    display: inline-block;
    margin: 20px
}

a{
    color: rgb(0, 0, 0);
    text-decoration:none
}

a:hover{
    color: rgb(122, 14, 9);
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 2px solid rgb(122, 14, 9);
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(202, 211, 240);
    margin-top: 30px;
}

#inscreva-se-btn:hover{
    background-color: rgb(122, 14, 9);
    color: white;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 40px;
}

span{
    color: rgb(122, 14, 9);
}

p{
    line-height: 20px;
    max-width: 500px;
}

img{
    max-width: 500px;
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    float: left;
}

input{
    margin-top: 20px;
    height: 25px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    text-align: center;
    justify-items: center;
    width: 40%;
}

form [type="submit"]{
    height: 40%;
    width: 50%;
    background-color: rgb(202, 211, 240);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 20px;
}

form [type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(122, 14, 9);
    color: white;
}


h1{
    text-align: center;
}

p{
    display: inline-block;
    margin: 5px;
    justify-content: space-between;
}

#link-topo{
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(122, 14, 9);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    border-radius: .3rem;
    box-shadow: 0 0.1rem 0.6rem 0000009;
}
footer{
    width: 100%;
    height: 2rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    margin-top: 90%;
    border-radius: 20px;
}

.footer-content p{
    color: #a7a7a7;
    font-size: 1.2rem;
    margin-bottom: 30;
}

.footer-content{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

